# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science.
* List commonly used libraries used by Data Scientists.
* List Data Science Tools.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Tensorflow
4. SciPy

|Data Science Tools.|
|-------------------|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
 #This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by dividing by 60
min = 60
hr = 200/min
print(hr)

3.3333333333333335

## Author
Qudus Shonibare